Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js, shellcheck -f tty

.lintstagedrc.json:

{
	"*.ts": ["prettier --config .prettierrc --write", "eslint --config eslint.config.js --fix"],
	"*.test.ts": ["eslint --config eslint.config.js"],
	"integration/**/*.ts": ["eslint --config eslint.config.js"],
	"*.mjs": ["prettier --config .prettierrc --write"],
	"*.js": ["prettier --config .prettierrc --write"],
	"*.json": ["prettier --config .prettierrc --write"],
	"*.sh": ["shellcheck -f tty"],
	".husky/pre-*": ["shellcheck -f tty"]
}

chore: supress lint rule based on class not having properties
  cli/server/infrastructure/gitHistory.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: copilot suggestions
  cli/server/infrastructure/gitHistory.test.ts
  cli/server/infrastructure/gitHistory.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Update cli/server/infrastructure/gitHistory.ts
  cli/server/infrastructure/gitHistory.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: push to remote
  hi-there-test.txt
Due: none

chore: another test
  hi-there-test-2.txt
Due: none

chore: git component
  cli/server/infrastructure/gitHistory.ts
  hi-there-test.txt
  src/lib/components/git-status/GitStatusDropdown.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: finish feature
  cli/server/infrastructure/gitHistory.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

feat: remove fake file for testing
  hi-there-test-2.txt
Due: none

fix: use pr head instead of main wip crawl
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Apply suggestion from @cmwylie19
  cli/commands/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: investigate nightly failure
  .github/workflows/nightlies.yml
  scripts/nightlies.sh
Due: shellcheck -f tty

chore: investigate nightly failure
  scripts/nightlies.sh
Due: shellcheck -f tty

chore: change node version
  .github/workflows/nightlies.yml
Due: none

chore: remove always auth
  .github/workflows/nightlies.yml
Due: none

chore: always auth warning
  .github/workflows/nightlies.yml
Due: none

Notes added by 'git notes add'
  d5b7ff3b2ddee02191ec594d6dbb622bddc3b686
Due: none

chore: test
  README.md
Due: none

feat: native commands
  README.md
  cli/server/infrastructure/gitHistory.test.ts
  cli/server/infrastructure/gitHistory.ts
  fake-controls/mappings/AC/AC-12_1__1-mappings.yaml
  fake-controls/mappings/AC/AC-1_1-mappings.yaml
  fake-controls/mappings/AC/AC-1_4-mappings.yaml
  fake-controls/mappings/AC/AC-1_5-mappings.yaml
  fake-controls/mappings/AC/AC-1_6-mappings.yaml
  fake-controls/mappings/AC/AC-1_7-mappings.yaml
  fake-controls/mappings/AC/AC-1_8-mappings.yaml
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

feat: native commands
  fake-controls/mappings/AC/AC-12_1__1-mappings.yaml
  fake-controls/mappings/AC/AC-1_1-mappings.yaml
  fake-controls/mappings/AC/AC-1_4-mappings.yaml
  fake-controls/mappings/AC/AC-1_5-mappings.yaml
  fake-controls/mappings/AC/AC-1_6-mappings.yaml
  fake-controls/mappings/AC/AC-1_7-mappings.yaml
  fake-controls/mappings/AC/AC-1_8-mappings.yaml
Due: none

chore: add file to test
  file.txt
Due: none

feat: lint and remove test file
  file.txt
Due: none

Notes added by 'git notes add'
  7968f65de95dcba3c5e392fb07c83e8fabfc0ce9
Due: none

chore: prepare test table fix in integration tests
  integration/test-files/ex.ts
  integration/test-files/ex.yaml
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: only consider if the content changed in the files
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: format
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: changes across two annotations per file
  integration/test-files/ex.ts
  integration/test-files/ex.yaml
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: testing integration
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: crawl table formatting
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: formatting
  README.md
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: integration test fix
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Notes added by 'git notes add'
  0dd6b9aad8eb21778b147bea89c1f9a79ab22058
Due: none

Add @defenseunicorns/eslint-config to project
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write

chore: add @defenseunicorns/eslint-config to project (#309)
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write

Notes added by 'git notes add'
  97aa5033305ab2e9e8d013005aeef549dd6b693d
Due: none

fix: pin versions to prod deps
  package.json
  pnpm-lock.yaml
  third_party_licenses/BLUE_OAK_LICENSE.md
Due: prettier --config .prettierrc --write

fix: pin versions to prod deps (#334)
  package.json
  pnpm-lock.yaml
  third_party_licenses/BLUE_OAK_LICENSE.md
Due: prettier --config .prettierrc --write

Notes added by 'git notes add'
  d363be76367226dcd7aa7331d0ea7091f5e15b17
Due: none

chore: add readme for 3rd party licenses
  third_party_licenses/README.md
Due: none

chore: add readme for 3rd party licenses (#335)
  third_party_licenses/README.md
Due: none
