Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js, shellcheck -f tty

.lintstagedrc.json:

{
	"*.ts": ["prettier --config .prettierrc --write", "eslint --config eslint.config.js --fix"],
	"*.test.ts": ["eslint --config eslint.config.js"],
	"integration/**/*.ts": ["eslint --config eslint.config.js"],
	"*.mjs": ["prettier --config .prettierrc --write"],
	"*.js": ["prettier --config .prettierrc --write"],
	"*.json": ["prettier --config .prettierrc --write"],
	"*.sh": ["shellcheck -f tty"],
	".husky/pre-*": ["shellcheck -f tty"]
}

chore: parseMappingsFromCSV unit test
  cli/server/spreadsheetRoutes.test.ts
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: account for legacy routes
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Update cli/server/spreadsheetRoutes.ts
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

fix: import export csv with mappings
  src/lib/components/setup/SpreadsheetImport.svelte
Due: none

chore: added coverage
  src/stores/compliance.test.ts
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: pr comment
  src/stores/compliance.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: format
  src/stores/compliance.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: dependency conflicts
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write

feat: support multiple controls mapped to a single mapping
  .lintstagedrc.json
  cli/server/serverState.test.ts
  cli/server/serverState.ts
  cli/server/websocketServer.ts
  src/lib/components/controls/DynamicControlEditor.svelte
  src/lib/components/controls/MappingCard.svelte
  src/lib/components/controls/MappingForm.svelte
  src/lib/components/controls/tabs/MappingsTab.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

feat: export mapping to a column
  cli/server/spreadsheetRoutes.ts
  src/lib/components/controls/ControlsList.svelte
  src/lib/components/dialogs/ExportColumnDialog.svelte
  src/lib/components/dialogs/index.ts
  src/routes/+layout.svelte
  src/routes/[sheet]/+page.svelte
  src/routes/[sheet]/control/[id]/+page.svelte
  src/routes/setup/+page.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: control case in the column headers
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: format
  cli/server/spreadsheetRoutes.ts
  src/lib/components/dialogs/ExportColumnDialog.svelte
  src/routes/+layout.svelte
  src/routes/[sheet]/+page.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: overwrite existing columns
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: fix mappings
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: format
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: pr comments around deleting mappings
  cli/server/infrastructure/fileStore.ts
  cli/server/websocketServer.ts
  src/lib/components/controls/tabs/MappingsTab.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: pr comments around deleting mappings
  cli/server/infrastructure/fileStore.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: keep comment for regex
  cli/server/infrastructure/fileStore.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: format
  cli/server/infrastructure/fileStore.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: fix unit test
  cli/server/infrastructure/fileStore.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: clean code
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Update src/lib/components/dialogs/ExportColumnDialog.svelte
  src/lib/components/dialogs/ExportColumnDialog.svelte
Due: none

chore: linter warnings
  src/lib/components/dialogs/ExportColumnDialog.svelte
Due: none

chore: simply websocketServer
  cli/server/websocketServer.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Notes added by 'git notes add'
  7126610aa6067fe6c8cb994926994564b8f9fc77
Due: none

chore: complexity in handlemessage and test
  src/lib/websocket.test.ts
  src/lib/websocket.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: do not overwrite existing columns
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: functionally working
  cli/server/spreadsheetRoutes.ts
  src/lib/components/controls/ControlsList.svelte
  src/routes/+layout.svelte
  src/routes/control/[id]/+page.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: base functionality
  src/routes/[sheet]/+page.svelte
  src/routes/[sheet]/control/[id]/+page.svelte
  src/routes/control/[id]/+page.svelte
  src/routes/setup/+page.svelte
Due: none

chore: remove dangling code
  cli/server/spreadsheetRoutes.ts
  src/routes/control/[id]/+page.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Notes added by 'git notes add'
  e6d4261a646aa4f366034eeb2a9b89863ebeafa5
Due: none

chore: reduce complexity in import-spreadsheet and tests
  cli/server/spreadsheetRoutes.test.ts
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

feat: filter by mapping
  src/lib/components/controls/ControlsList.svelte
  src/lib/components/ui/FilterBuilder.svelte
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: format and test
  src/lib/components/ui/FilterBuilder.svelte
  src/stores/compliance.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Update src/lib/components/controls/ControlsList.svelte
  src/lib/components/controls/ControlsList.svelte
Due: none

Update src/lib/components/ui/FilterBuilder.svelte
  src/lib/components/ui/FilterBuilder.svelte
Due: none

chore: copilot recommendations
  src/lib/components/ui/FilterBuilder.svelte
Due: none

chore: add fake controls sheet
  README.md
  samples/fake-controls.xlsx
Due: none
