Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js, shellcheck -f tty

fix: fixes around nist 800 rev 5 controls
  cli/server/infrastructure/fileStore.test.ts
  cli/server/infrastructure/fileStore.ts
  cli/server/server.test.ts
  cli/server/server.ts
  cli/server/serverState.test.ts
  cli/server/serverState.ts
  cli/server/websocketServer.test.ts
  cli/server/websocketServer.ts
  src/lib/components/controls/MappingCard.svelte
  src/lib/components/controls/tabs/MappingsTab.svelte
  src/lib/types.ts
  src/lib/websocket.ts
  vite.config.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: more efficient deletes
  cli/server/infrastructure/fileStore.ts
  cli/server/websocketServer.ts
  src/lib/components/controls/MappingCard.svelte
  src/lib/components/controls/tabs/MappingsTab.svelte
  src/lib/websocket.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

fix: unit tests - to update mapping delete and recreate based on hash
  cli/server/infrastructure/fileStore.test.ts
  cli/server/websocketServer.ts
  src/lib/websocket.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: fixes around nist 800 rev 5 controls (#347)
  cli/server/infrastructure/fileStore.test.ts
  cli/server/infrastructure/fileStore.ts
  cli/server/server.test.ts
  cli/server/server.ts
  cli/server/serverState.test.ts
  cli/server/serverState.ts
  cli/server/websocketServer.test.ts
  cli/server/websocketServer.ts
  src/lib/components/controls/MappingCard.svelte
  src/lib/components/controls/tabs/MappingsTab.svelte
  src/lib/types.ts
  src/lib/websocket.ts
  vite.config.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Notes added by 'git notes add'
  63573b1c57292b593c295fdaed361bc07669b81e
Due: none

fix: force release
  README.md
Due: none

fix: force release (#352)
  README.md
Due: none

Notes added by 'git notes add'
  ef1d8da3f0dd91a6c8177472bd17e372bdeb23a1
Due: none

feat: multiple cci per mapping
  src/lib/components/controls/MappingCard.svelte
  src/lib/components/controls/MappingForm.svelte
  src/lib/components/controls/tabs/MappingsTab.svelte
  src/lib/components/forms/FormField.svelte
  src/routes/control/[id]/+page.svelte
Due: none

chore: remove comment
  src/lib/components/controls/MappingForm.svelte
Due: none

feat: custom multiselect
  src/lib/components/controls/renderers/EditableFieldRenderer.svelte
  src/lib/components/controls/tabs/CustomFieldsTab.svelte
  src/lib/components/controls/tabs/ImplementationTab.svelte
  src/lib/components/controls/tabs/OverviewTab.svelte
  src/lib/components/forms/FormField.svelte
  src/lib/types.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: typo
  src/lib/components/controls/MappingForm.svelte
Due: none

Update src/lib/components/controls/MappingCard.svelte
  src/lib/components/controls/MappingCard.svelte
Due: none

chore: address warning and pr comment
  src/lib/components/controls/MappingForm.svelte
Due: none

fix: support update-mappings to prevent reordering
  cli/server/infrastructure/fileStore.ts
  cli/server/websocketServer.test.ts
  cli/server/websocketServer.ts
  src/lib/components/controls/tabs/MappingsTab.svelte
  src/lib/websocket.test.ts
  src/lib/websocket.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

feat: multiple cci per mapping and custom multiselect (#354)
  src/lib/components/controls/MappingCard.svelte
  src/lib/components/controls/MappingForm.svelte
  src/lib/components/controls/renderers/EditableFieldRenderer.svelte
  src/lib/components/controls/tabs/CustomFieldsTab.svelte
  src/lib/components/controls/tabs/ImplementationTab.svelte
  src/lib/components/controls/tabs/MappingsTab.svelte
  src/lib/components/controls/tabs/OverviewTab.svelte
  src/lib/components/forms/FormField.svelte
  src/lib/types.ts
  src/routes/control/[id]/+page.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Notes added by 'git notes add'
  f34fc4e37b62fa884753479f70b33b239989a6f5
Due: none

fix: trigger release
  README.md
Due: none

Notes added by 'git notes add'
  ecdec8666049c721211b176aca3c2c032030f419
Due: none

Notes added by 'git notes add'
  39dc1ab40cdb24b81ed8ecbfe4f4a039d52f4b1b
Due: none

chore: filestore update test coverage
  cli/server/infrastructure/fileStore.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: npm auth for release
  .github/workflows/release.yml
Due: none

fix: npm auth for release (#360)
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  75cd944aea876b62d23e429b681f5acec1c22b7c
Due: none

fix: support update-mappings to prevent reordering (#355)
  cli/server/infrastructure/fileStore.test.ts
  cli/server/infrastructure/fileStore.ts
  cli/server/websocketServer.test.ts
  cli/server/websocketServer.ts
  src/lib/components/controls/tabs/MappingsTab.svelte
  src/lib/websocket.test.ts
  src/lib/websocket.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Notes added by 'git notes add'
  f4795076c588e58d2130c6b3ff4cfc30b17298d1
Due: none

fix: use oidc for release publish
  .github/workflows/release.yml
Due: none

fix: use oidc for release publish (#361)
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  7390071be17d0d0aa10090c072b2b2f77491d9e9
Due: none

chore: add npm token back to release
  .github/workflows/release.yml
Due: none

fix: semantic-release in debug mode
  .github/workflows/release.yml
Due: none

Apply suggestion from @cmwylie19
  .github/workflows/release.yml
Due: none

fix: run semantic-release in debug mode to debug trusted publishing issues (#363)
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  9df162c7f083c491617aa2a454602ac4cc3a9cef
Due: none

fix: release/test workflow
  .github/workflows/release.yml
  .github/workflows/tests.yaml
  package.json
Due: prettier --config .prettierrc --write

fix: release/test workflow (#364)
  .github/workflows/release.yml
  .github/workflows/tests.yaml
  package.json
Due: prettier --config .prettierrc --write

Notes added by 'git notes add'
  4f16bd32d38b7651c661c3da41a6f118c07fb21a
Due: none

fix: npm publish for release
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write

fix: update release to node 24.x, npm 11
  .github/workflows/release.yml
Due: none

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.config.js --fix: any of: *.ts
  eslint --config eslint.config.js: (any of: *.test.ts) or (any of: integration/**/*.ts)
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
