Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

.lintstagedrc.json:

{
  "*.yml": ["prettier --write"],
  "*.yaml": ["prettier --write"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "exclude": ["e2e/**"]
}

chore: test flow
  .github/workflows/node.js.yml
  eslint.config.mjs
  package-lock.json
  package.json
  src/controls/index.ts
  src/crawl.test.ts
  src/crawl.ts
  src/index.test.ts
  src/index.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: failing ci jobs
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/e2e.yml
  .github/workflows/scorecard.yml
  scripts/nightlies.sh
Due: prettier --write

chore: failing ci jobs
  .github/workflows/dependency-review.yml
Due: prettier --write

chore: unit test
  src/crawl.test.ts
Due: prettier --write, eslint --fix

chore: unit test - format
  src/crawl.test.ts
Due: prettier --write, eslint --fix

chore: dependency review
  .github/workflows/dependency-review.yml
Due: prettier --write

chore: publish action test
  package.json
Due: prettier --write

chore: try release flow
  README.md
Due: none

fix: try semantic release
  src/crawl.test.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  d764d3c847e7443b52d5a13893284e820c2b0c07
Due: none

fix: try to get a release
  .github/workflows/commitlint.yml
Due: prettier --write

chore: commit lint
  .github/workflows/commitlint.yml
Due: prettier --write

Notes added by 'git notes add'
  2598a5b783b66b2e4f569d34fa13e56382bccd37
Due: none

fix: remove todo
  TODO.md
Due: none

Notes added by 'git notes add'
  bafb1d81e6b00f29b79f73f9494d7ce637c42759
Due: none

chore: fix semantic-versioning
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ae391f940ed51b0de7829a916677b3cf03d917e1
Due: none

chore: usage
  README.md
Due: none

chore: description update
  package.json
Due: prettier --write

chore: scorecard workflow
  .github/workflows/scorecard.yml
Due: prettier --write

chore: scorecard token
  .github/workflows/scorecard.yml
Due: prettier --write

chore: perms in scorecard
  .github/workflows/scorecard.yml
Due: prettier --write

chore: fix formating
  .github/workflows/scorecard.yml
Due: prettier --write

chore: comment scorecard for now
  .github/workflows/scorecard.yml
  CONTRIBUTING.md
Due: prettier --write

chore: fix contributing guide
  CONTRIBUTING.md
Due: none

chore: unit test start
  src/crawl.test.ts
Due: prettier --write, eslint --fix

chore: format test
  src/crawl.test.ts
Due: prettier --write, eslint --fix

fix: version command
  src/index.test.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: formatting
  src/index.ts
Due: prettier --write, eslint --fix

chore: format write
  src/index.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  f39abe6d61f25eace780bea3847b6dcc0b0f5345
Due: none

chore: nightly fix
  src/index.ts
Due: prettier --write, eslint --fix

fix: add version command
  README.md
Due: none

fix: format fix
  README.md
Due: none

Notes added by 'git notes add'
  010d7a11e2122a46c481f935b7da15bf0add3367
Due: none
