Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

feat: comprehensive lint fixes - reduce errors from 185 to 43
  LINT_FIXES.md
  cli/infrastructure/gitHistory.ts
  cli/infrastructure/yamlDiff.ts
  cli/spreadsheetRoutes.ts
  cli/types.ts
  cli/websocketServer.ts
  eslint.config.js
  src/routes/setup/+page.svelte
  src/stores/compliance.ts
Due: prettier --write, eslint --fix

feat: add CRUD operations for control mappings with file persistence
  cli/infrastructure/fileStore.ts
  cli/websocketServer.ts
  src/lib/components/controls/ControlDetailsPanel.svelte
  src/lib/components/controls/ControlsList.svelte
  src/lib/components/controls/DynamicControlEditor.svelte
  src/lib/components/controls/MappingCard.svelte
  src/lib/components/setup/SpreadsheetImport.svelte
  src/lib/components/version-control/TimelineItem.svelte
  src/lib/types.ts
  src/lib/websocket.ts
  src/routes/+layout.svelte
  src/routes/control/[id]/+page.svelte
  uds-csp-nist-800-53-rev-4/controls/AC/AC-10_1.yaml
  uds-csp-nist-800-53-rev-4/mappings/AC/AC-10_1-mappings.yaml
  vite.config.ts
Due: prettier --write, eslint --fix

fix: exclude id field from saved controls and improve mapping file history tracking
  cli/infrastructure/fileStore.ts
  cli/infrastructure/gitHistory.ts
  cli/infrastructure/yamlDiff.ts
  cli/websocketServer.ts
  src/lib/components/version-control/TimelineItem.svelte
  uds-csp-nist-800-53-rev-4/controls/AC/AC-10_1.yaml
Due: prettier --write, eslint --fix

refactor: simplify change descriptions and add auto-loading of single control sets
  cli/infrastructure/yamlDiff.ts
  src/routes/+layout.svelte
  src/routes/setup/+page.svelte
  uds-csp-nist-800-53-rev-4/mappings/AC/AC-10_1-mappings.yaml
Due: prettier --write, eslint --fix

chore: new keywords and sha256sum calculation on changed files
  src/crawl.ts
Due: prettier --write, eslint --fix

chore: run format
  src/crawl.ts
Due: prettier --write, eslint --fix

style: format code with prettier and improve table cell truncation
  cli/infrastructure/fileStore.ts
  cli/infrastructure/yamlDiff.ts
  cli/websocketServer.ts
  src/lib/components/controls/ControlDetailsPanel.svelte
  src/lib/components/controls/ControlsList.svelte
  src/lib/components/ui/Tooltip.svelte
  src/lib/components/ui/index.ts
  src/lib/components/version-control/TimelineItem.svelte
  src/lib/types.ts
  src/routes/+layout.svelte
  src/routes/control/[id]/+page.svelte
  src/routes/setup/+page.svelte
Due: prettier --write, eslint --fix

refactor: consolidate mapping status tracking and simplify pending changes logic
  cli/websocketServer.ts
  src/lib/components/controls/ControlDetailsPanel.svelte
  src/lib/components/controls/renderers/EditableFieldRenderer.svelte
  src/lib/components/controls/renderers/FieldRenderer.svelte
  src/lib/components/controls/renderers/index.ts
  src/lib/components/controls/tabs/CustomFieldsTab.svelte
  src/lib/components/controls/tabs/ImplementationTab.svelte
  src/lib/components/controls/tabs/MappingsTab.svelte
  src/lib/components/controls/tabs/OverviewTab.svelte
  src/lib/components/controls/tabs/TimelineTab.svelte
  src/lib/components/controls/tabs/index.ts
  src/routes/control/[id]/+page.svelte
  uds-csp-nist-800-53-rev-4/mappings/AC/AC-10_3-mappings.yaml
Due: prettier --write, eslint --fix

update readme
  README.md
Due: none

feat: add validation checks for directory creation and filter excluded fields during import
  LINT_FIXES.md
  cli/infrastructure/fileStore.ts
  cli/spreadsheetRoutes.ts
  src/lib/components/controls/ControlDetailsPanel.svelte
Due: prettier --write, eslint --fix

refactor: migrate from yaml to js-yaml package for YAML parsing and formatting
  cli/infrastructure/controlHelpers.ts
  cli/infrastructure/fileStore.ts
  cli/infrastructure/yamlDiff.ts
  cli/spreadsheetRoutes.ts
  cli/websocketServer.ts
Due: prettier --write, eslint --fix

feat: add debug mode and export functionality to CLI server
  cli.ts
  cli/commands/serve.ts
  cli/infrastructure/fileStore.ts
  cli/infrastructure/gitHistory.ts
  cli/server.ts
  cli/serverState.ts
  cli/spreadsheetRoutes.ts
  cli/utils/debug.ts
  cli/websocketServer.ts
  package.json
  pnpm-lock.yaml
  src/lib/components/control-sets/ControlSetInfo.svelte
  src/lib/components/controls/ControlDetailsPanel.svelte
  src/lib/components/controls/ControlsList.svelte
  src/lib/components/controls/DynamicControlEditor.svelte
  src/lib/components/controls/MappingCard.svelte
  src/lib/components/controls/MappingForm.svelte
  src/lib/components/controls/renderers/EditableFieldRenderer.svelte
  src/lib/components/controls/tabs/MappingsTab.svelte
  src/lib/components/forms/DynamicField.svelte
  src/lib/components/setup/SpreadsheetImport.svelte
  src/lib/components/ui/Tooltip.svelte
  src/lib/websocket.ts
  src/routes/+layout.svelte
  src/routes/setup/+page.svelte
  tsconfig.json
Due: prettier --write, eslint --fix

refactor: improve control set switching with interval-based state monitoring
  src/routes/setup/+page.svelte
Due: none

refactor: consolidate control types in frontend and add source reference UI
  .vscode/settings.json
  cli/infrastructure/fileStore.ts
  cli/spreadsheetRoutes.ts
  cli/types.ts
  src/lib/components/controls/MappingCard.svelte
  src/lib/components/controls/MappingForm.svelte
  src/lib/components/controls/tabs/MappingsTab.svelte
  src/lib/components/forms/FormField.svelte
  src/lib/types.ts
Due: prettier --write, eslint --fix

fix: remove dot replacement in mapping filename generation
  cli/websocketServer.ts
Due: prettier --write, eslint --fix

update claude info
  CLAUDE.md
Due: none

switch to pnpm
  .github/workflows/commitlint.yml
  .github/workflows/dependency-review.yml
  .github/workflows/nightlies.yml
  .github/workflows/node.js.yml
  .github/workflows/release.yml
  .gitignore
  CLAUDE.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore: remove pnpm onlyBuiltDependencies config for esbuild
  package.json
Due: prettier --write

chore: upgrade pnpm from v8 to v9 in GitHub Actions workflows
  .github/workflows/node.js.yml
  .github/workflows/release.yml
Due: prettier --write

refactor: replace xlsx with ExcelJS and add CSV support for improved spreadsheet handling
  cli/server/server.ts
  cli/server/spreadsheetRoutes.ts
  package.json
  pnpm-lock.yaml
  src/lib/components/setup/SpreadsheetImport.svelte
Due: prettier --write, eslint --fix

fix: update repoo url for release
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5f3532bbadee91f85af5b92ad2667570068598a9
Due: none

chore: override vulnerable npm libs
  package.json
Due: prettier --write

chore: dependabot ignore
  .github/dependabot.yml
  package.json
Due: prettier --write

docs: update Lula 1 repository links to defenseunicorns-labs org
  README.md
Due: none

docs: small readme edits
  README.md
Due: none

docs: add project status notice and clarify relationship with Lula 1
  README.md
Due: none

chore: issue templates and dependabot
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/tech_debt.md
  .github/dependabot.yml
  .github/pull_request_template.md
Due: prettier --write

Revert "chore(deps): bump the production-dependencies group with 5 updates"
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: exclude vulnerable deps
  .github/dependabot.yml
Due: prettier --write

chore: commit lint for prs
  .github/workflows/commitlint.yml
Due: prettier --write

chore: node v22
  .github/workflows/commitlint.yml
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.yml) or (any of: *.yaml)) or (any of: *.ts)) or (any of: *.js)) or (any of: *.json)
  eslint --fix: (any of: *.ts) or (any of: *.js)
  e2e/**: any of: exclude
