Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, e2e/**

.lintstagedrc.json:

{
  "*.yml": ["prettier --write"],
  "*.yaml": ["prettier --write"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "exclude": ["e2e/**"]
}

chore: pnpm lock
  .github/workflows/commitlint.yml
Due: prettier --write

feat: crawl command
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
  index.ts
Due: prettier --write, eslint --fix

chore: format
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
  src/lib/components/version-control/DiffViewer.svelte
Due: prettier --write, eslint --fix

chore: pre commit husky
  .husky/pre-commit
  .lintstagedrc.json
  .markdownlint.json
Due: prettier --write

chore: test pre-commit
  cli/commands/crawl.ts
Due: prettier --write, eslint --fix

chore: test hook
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: check
  package.json
Due: prettier --write

chore: check
  cli/commands/crawl.ts
  package.json
Due: prettier --write, eslint --fix

chore: ci testing
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/tests.yaml
  integration/crawl.test.ts
  integration/vitest.config.integration.ts
  package.json
Due: prettier --write, eslint --fix

chore: ci testing
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/tests.yaml
Due: prettier --write

chore: pnpm setup
  .github/workflows/on-demand-workflows.yaml
Due: prettier --write

chore: vitest config fix
  integration/vitest.config.integration.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: remove codecov token required from workflows
  .github/workflows/on-demand-workflows.yaml
Due: prettier --write

chore: fix workflows
  .github/workflows/on-demand-workflows.yaml
Due: prettier --write

chore: checkout action
  .github/workflows/on-demand-workflows.yaml
Due: prettier --write

chore: pnpm ci is not an action
  .github/workflows/on-demand-workflows.yaml
Due: prettier --write

chore: checkout action again
  .github/workflows/on-demand-workflows.yaml
Due: prettier --write

chore: prepare command
  package.json
Due: prettier --write

chore: fix version
  cli/commands/version.ts
  index.ts
Due: prettier --write, eslint --fix

chore: implement on-demand/on-schedule nightlies
  .github/workflows/nightlies.yml
  scripts/nightlies.sh
Due: prettier --write

chore: update script for pnpm
  .github/workflows/nightlies.yml
  scripts/nightlies.sh
Due: prettier --write

chore: nightlies hotfix for auth
  .github/workflows/nightlies.yml
Due: prettier --write

chore: update comments
  .github/workflows/nightlies.yml
Due: prettier --write

docs: small readme cleanup
  README.md
Due: none

chore: update command
  .lintstagedrc.json
Due: prettier --write

chore: fallback to run in dev mode
  cli/commands/version.ts
Due: prettier --write, eslint --fix

chore: express changed wildcard
  cli/server/server.ts
Due: prettier --write, eslint --fix

chore: security vulnernability around rate limits
  cli/server/server.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: semantic release workflow
  .github/workflows/release.yml
Due: prettier --write

fix: workflow call trigger
  .github/workflows/tests.yaml
Due: prettier --write

fix: fix semantic release perms
  .github/workflows/release.yml
Due: prettier --write

fix: pnpm ci not implemented
  .github/workflows/release.yml
Due: prettier --write

fix: package.json names
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e346e85bf70f42eda4cca5b32364053dba521a08
Due: none

fix: dist path for index fix after express bump
  cli/server/server.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  db1751374df65a5a30efeca9277732fbc11902ca
Due: none

chore: unit test for crawl
  .lintstagedrc.json
Due: prettier --write

chore: unit test for crawl
  .lintstagedrc.json
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
  vitest.config.ts
Due: prettier --write, eslint --fix
