Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js, shellcheck -f tty

.lintstagedrc.json:

{
	"*.ts": ["prettier --config .prettierrc --write", "eslint --config eslint.config.js --fix"],
	"*.test.ts": ["eslint --config eslint.config.js"],
	"integration/**/*.ts": ["eslint --config eslint.config.js"],
	"*.mjs": ["prettier --config .prettierrc --write"],
	"*.js": ["prettier --config .prettierrc --write"],
	"*.json": ["prettier --config .prettierrc --write"],
	"*.sh": ["shellcheck -f tty"],
	".husky/pre-*": ["shellcheck -f tty"]
}

chore: account for overridden env vars
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: newline
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: readme update
  README.md
Due: none

chore: wip checks
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: codeql flow
  .github/workflows/codeql.yml
Due: none

chore: first playwright test
  .github/workflows/playwright.yml
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/routes/setup/+page.svelte
  tests/demo-todo-app.spec.ts
  tests/example.spec.ts
  tests/routes-setup-page.svelte.spec.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: format test
  tests/routes-setup-page.svelte.spec.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Potential fix for code scanning alert no. 23: Workflow does not contain permissions
  .github/workflows/playwright.yml
Due: none

fix: test review instead of comment
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

feat: comments or reviews
  README.md
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: format
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: release perms
  .github/workflows/release.yml
Due: none

fix: release
  .github/workflows/release.yml
Due: none

chore: switch to sheetjs for excel parsing
  cli/server/spreadsheetRoutes.ts
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Notes added by 'git notes add'
  6870a22e074433ca5b9c7e670e150d79c60b5367
Due: none

Notes added by 'git notes add'
  c1d97676fe3f70ea1ae53ee52dd5931255cb4efc
Due: none

feat: add support for mapping justifications on import
  cli/server/spreadsheetRoutes.ts
  src/lib/components/setup/SpreadsheetImport.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: format
  cli/server/spreadsheetRoutes.ts
  src/lib/components/setup/SpreadsheetImport.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

wip: add more filter options
  src/lib/actions/clickOutside.ts
  src/lib/components/controls/ControlsList.svelte
  src/lib/components/ui/FilterBuilder.svelte
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

fix: types
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Notes added by 'git notes add'
  b3ed89a4e898ff1ce1ec28fb3ef7b2df6ed9be75
Due: none

chore: compliance test
  src/stores/compliance.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: format
  src/stores/compliance.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: only leave post if there are changed blocks
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: use var in crawl function
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

wip: clean up filtering
  src/lib/actions/clickOutside.ts
  src/lib/components/controls/ControlsList.svelte
  src/lib/components/ui/FilterBuilder.svelte
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Notes added by 'git notes add'
  b3455d9e5f8fa4ba2ead77e084100eb60390cedf
Due: none

chore: codecov ignore
  codecov.yaml
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Update vitest.config.ts
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Update codecov.yaml
  codecov.yaml
Due: none

chore: only console log in a changedblock
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

feat: delete old comments
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: improve unit test coverage
  cli/commands/ui.test.ts
  cli/server/infrastructure/gitHistory.test.ts
  cli/server/server.test.ts
  cli/server/spreadsheetRoutes.test.ts
  cli/server/websocketServer.test.ts
  codecov.yaml
  src/lib/actions/modal.test.ts
  src/lib/components/controls/utils/textProcessor.test.ts
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: cleanup/filter dopdown work
  src/lib/actions/clickOutside.test.ts
  src/lib/components/controls/ControlsList.svelte
  src/lib/components/ui/CustomDropdown.svelte
  src/lib/components/ui/FilterBuilder.svelte
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: pr comments
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: format
  cli/server/infrastructure/gitHistory.test.ts
  cli/server/server.test.ts
  cli/server/spreadsheetRoutes.test.ts
  cli/server/websocketServer.test.ts
  src/lib/actions/modal.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Notes added by 'git notes add'
  184e97eaaaef3e7c6fcd8fbb96ef0eafdc0d9063
Due: none

fix: typing
  src/lib/components/controls/ControlsList.svelte
  src/lib/components/ui/FilterBuilder.svelte
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

fix: some typing, unit tests
  src/lib/components/controls/ControlsList.svelte
  src/stores/compliance.test.ts
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: add imported mappings to controls
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix
