Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js, shellcheck -f tty

.lintstagedrc.json:

{
	"*.ts": ["prettier --config .prettierrc --write", "eslint --config eslint.config.js --fix"],
	"*.test.ts": ["eslint --config eslint.config.js"],
	"integration/**/*.ts": ["eslint --config eslint.config.js"],
	"*.mjs": ["prettier --config .prettierrc --write"],
	"*.js": ["prettier --config .prettierrc --write"],
	"*.json": ["prettier --config .prettierrc --write"],
	"*.sh": ["shellcheck -f tty"],
	".husky/pre-*": ["shellcheck -f tty"]
}

Apply suggestion from @cmwylie19
  README.md
Due: none

chore: format
  cli/server/fileStoreOrder.test.ts
  cli/server/infrastructure/fileStore.ts
  cli/server/spreadsheetOrder.test.ts
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Update cli/server/infrastructure/fileStore.ts
  cli/server/infrastructure/fileStore.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

fix: reset data on loadsheetdata
  src/lib/components/setup/SpreadsheetImport.svelte
Due: none

Notes added by 'git notes add'
  c85f8d06938a6130e16bb3f6aee0b50f9364ca8d
Due: none

feat: wip git status
  cli/server/infrastructure/gitHistory.test.ts
  cli/server/infrastructure/gitHistory.ts
  cli/server/spreadsheetRoutes.test.ts
  cli/server/spreadsheetRoutes.ts
  cli/server/types.ts
  src/lib/components/git-status/GitStatusDropdown.svelte
  src/lib/components/git-status/index.ts
  src/lib/types.ts
  src/routes/+layout.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: if dialog is open do not bind to enter
  src/lib/components/dialogs/ExportColumnDialog.svelte
Due: none

fix: remove modal background color
  src/lib/components/dialogs/ExportColumnDialog.svelte
Due: none

Upate CODEOWNERS to 'lula'
  CODEOWNERS
Due: none

add UDS core to project
  CODEOWNERS
Due: none

Remove pepr from codeowners
  CODEOWNERS
Due: none

fix: change z-index on header and dialog for visibility
  src/lib/components/dialogs/ExportColumnDialog.svelte
  src/routes/+layout.svelte
Due: none

fix: z-index out of range fix
  fake-controls/controls/AC/AC-12_1__1.yaml
  fake-controls/controls/AC/AC-1_1.yaml
  fake-controls/controls/AC/AC-1_2.yaml
  fake-controls/controls/AC/AC-1_3.yaml
  fake-controls/controls/AC/AC-1_4.yaml
  fake-controls/controls/AC/AC-1_5.yaml
  fake-controls/controls/AC/AC-1_6.yaml
  fake-controls/controls/AC/AC-1_7.yaml
  fake-controls/controls/AC/AC-1_8.yaml
  fake-controls/lula.yaml
  fake-controls/mappings/AC/AC-12_1__1-mappings.yaml
  fake-controls/mappings/AC/AC-1_1-mappings.yaml
  fake-controls/mappings/AC/AC-1_4-mappings.yaml
  fake-controls/mappings/AC/AC-1_5-mappings.yaml
  fake-controls/mappings/AC/AC-1_6-mappings.yaml
  fake-controls/mappings/AC/AC-1_7-mappings.yaml
  fake-controls/mappings/AC/AC-1_8-mappings.yaml
  src/lib/components/dialogs/ExportColumnDialog.svelte
  src/routes/+layout.svelte
Due: none

fix: remove fake controls
  fake-controls/controls/AC/AC-12_1__1.yaml
  fake-controls/controls/AC/AC-1_1.yaml
  fake-controls/controls/AC/AC-1_2.yaml
  fake-controls/controls/AC/AC-1_3.yaml
  fake-controls/controls/AC/AC-1_4.yaml
  fake-controls/controls/AC/AC-1_5.yaml
  fake-controls/controls/AC/AC-1_6.yaml
  fake-controls/controls/AC/AC-1_7.yaml
  fake-controls/controls/AC/AC-1_8.yaml
  fake-controls/lula.yaml
  fake-controls/mappings/AC/AC-12_1__1-mappings.yaml
  fake-controls/mappings/AC/AC-1_1-mappings.yaml
  fake-controls/mappings/AC/AC-1_4-mappings.yaml
  fake-controls/mappings/AC/AC-1_5-mappings.yaml
  fake-controls/mappings/AC/AC-1_6-mappings.yaml
  fake-controls/mappings/AC/AC-1_7-mappings.yaml
  fake-controls/mappings/AC/AC-1_8-mappings.yaml
Due: none

chore: node 22 incompatible with semantic-release@25.0.0(typescript@5.9.3)
  .github/workflows/commitlint.yml
  .github/workflows/nightlies.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/release.yml
  README.md
  package.json
Due: prettier --config .prettierrc --write

chore: playwright test node v
  .github/workflows/playwright.yml
Due: none

chore: playwright node installation
  .github/workflows/playwright.yml
Due: none

Notes added by 'git notes add'
  b2e180740838452a4248d5fb6cbb4cbfcc9dec11
Due: none

chore: reviewing
  cli/server/infrastructure/gitHistory.ts
  cli/server/spreadsheetRoutes.ts
  cli/server/websocketServer.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Revert "chore(deps-dev): bump the development-dependencies group with 3 updates"
  .github/workflows/commitlint.yml
  .github/workflows/nightlies.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/playwright.yml
  .github/workflows/release.yml
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write

Update .github/workflows/playwright.yml
  .github/workflows/playwright.yml
Due: none

chore: fix dependabot and @sveltejs/vite-plugin-svelte
  .github/workflows/commitlint.yml
  .github/workflows/nightlies.yml
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/playwright.yml
  .github/workflows/release.yml
  README.md
  package.json
Due: prettier --config .prettierrc --write

chore: fix tests
  cli/commands/crawl.test.ts
  cli/commands/ui.test.ts
  cli/commands/version.test.ts
  cli/server/spreadsheetRoutes.test.ts
  cli/server/websocketServer.test.ts
  src/stores/compliance.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Apply suggestion from @cmwylie19
  cli/commands/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Apply suggestion from @cmwylie19
  cli/commands/version.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Apply suggestion from @cmwylie19
  src/stores/compliance.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Apply suggestion from @cmwylie19
  cli/server/websocketServer.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: test being behind
  README.md
  fake-controls/controls/AC/AC-12_1__1.yaml
  fake-controls/controls/AC/AC-1_1.yaml
  fake-controls/controls/AC/AC-1_2.yaml
  fake-controls/controls/AC/AC-1_3.yaml
  fake-controls/controls/AC/AC-1_4.yaml
  fake-controls/controls/AC/AC-1_5.yaml
  fake-controls/controls/AC/AC-1_6.yaml
  fake-controls/controls/AC/AC-1_7.yaml
  fake-controls/controls/AC/AC-1_8.yaml
  fake-controls/lula.yaml
  fake-controls/mappings/AC/AC-12_1__1-mappings.yaml
  fake-controls/mappings/AC/AC-1_1-mappings.yaml
  fake-controls/mappings/AC/AC-1_4-mappings.yaml
  fake-controls/mappings/AC/AC-1_5-mappings.yaml
  fake-controls/mappings/AC/AC-1_6-mappings.yaml
  fake-controls/mappings/AC/AC-1_7-mappings.yaml
  fake-controls/mappings/AC/AC-1_8-mappings.yaml
Due: none

chore: remove fake-controls
  fake-controls/controls/AC/AC-12_1__1.yaml
  fake-controls/controls/AC/AC-1_1.yaml
  fake-controls/controls/AC/AC-1_2.yaml
  fake-controls/controls/AC/AC-1_3.yaml
  fake-controls/controls/AC/AC-1_4.yaml
  fake-controls/controls/AC/AC-1_5.yaml
  fake-controls/controls/AC/AC-1_6.yaml
  fake-controls/controls/AC/AC-1_7.yaml
  fake-controls/controls/AC/AC-1_8.yaml
  fake-controls/lula.yaml
  fake-controls/mappings/AC/AC-12_1__1-mappings.yaml
  fake-controls/mappings/AC/AC-1_1-mappings.yaml
  fake-controls/mappings/AC/AC-1_4-mappings.yaml
  fake-controls/mappings/AC/AC-1_5-mappings.yaml
  fake-controls/mappings/AC/AC-1_6-mappings.yaml
  fake-controls/mappings/AC/AC-1_7-mappings.yaml
  fake-controls/mappings/AC/AC-1_8-mappings.yaml
Due: none

chore: still testing git status
  README.md
Due: none

chore: push remote further ahead
  commit-to-main.txt
Due: none

chore: remove commit of test file to move remote ahead of local
  commit-to-main.txt
Due: none

chore: gitstatus component
  src/lib/components/git-status/GitStatusDropdown.svelte
Due: none

chore: finish feature work - look into testing
  cli/server/infrastructure/gitHistory.ts
  src/lib/components/git-status/GitStatusDropdown.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: test and complexity
  cli/server/infrastructure/gitHistory.test.ts
  cli/server/infrastructure/gitHistory.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: format code and add issue to comment around git pull
  cli/server/infrastructure/gitHistory.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Update src/lib/components/git-status/GitStatusDropdown.svelte
  src/lib/components/git-status/GitStatusDropdown.svelte
Due: none
