Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js, shellcheck -f tty

.lintstagedrc.json:

{
	"*.ts": ["prettier --config .prettierrc --write", "eslint --config eslint.config.js --fix"],
	"*.test.ts": ["eslint --config eslint.config.js"],
	"integration/**/*.ts": ["eslint --config eslint.config.js"],
	"*.mjs": ["prettier --config .prettierrc --write"],
	"*.js": ["prettier --config .prettierrc --write"],
	"*.json": ["prettier --config .prettierrc --write"],
	"*.sh": ["shellcheck -f tty"],
	".husky/pre-*": ["shellcheck -f tty"]
}

fix: align filenames with safety
  cli/server/infrastructure/fileStore.ts
  cli/server/websocketServer.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: lint rules
  cli/server/infrastructure/gitHistory.ts
  cli/server/spreadsheetRoutes.ts
  cli/server/websocketServer.test.ts
  package.json
  pnpm-lock.yaml
  src/lib/components/controls/ControlsList.filter.test.ts
  src/lib/components/controls/utils/textProcessor.test.ts
  src/lib/components/setup/SpreadsheetImport.svelte
  src/routes/debug/+page.svelte
  src/stores/compliance.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: format
  cli/server/infrastructure/fileStore.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: update linting
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write

chore: updates to unused test
  src/lib/components/controls/ControlsList.filter.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: updates to unused route
  src/routes/debug/+page.svelte
Due: none

Notes added by 'git notes add'
  b022c0f36f5e866c8888d495f30c3b14fb4bc99e
Due: none

chore: rules
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/lib/components/controls/utils/textProcessor.test.ts
  src/stores/compliance.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: looser rules for now
  eslint.config.js
Due: prettier --config .prettierrc --write

Update eslint.config.js
  eslint.config.js
Due: prettier --config .prettierrc --write

fix: family filtering, dropdowns
  src/lib/components/controls/ControlsList.svelte
  src/lib/components/ui/FilterBuilder.svelte
  src/stores/compliance.test.ts
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Notes added by 'git notes add'
  dcd1da7b0a17ca935bed9b0694a49cb8c4388b37
Due: none

chore: ignore max statements in tests
  eslint.config.js
Due: prettier --config .prettierrc --write

chore: linting fixes
  cli/server/spreadsheetRoutes.ts
  eslint.config.js
  src/lib/components/controls/tabs/CustomFieldsTab.svelte
  src/lib/components/controls/tabs/TimelineTab.svelte
  src/lib/components/controls/utils/ProcessedTextRenderer.svelte
  src/lib/components/forms/DynamicControlForm.svelte
  src/lib/components/setup/ExistingControlSets.svelte
  src/lib/components/setup/SpreadsheetImport.svelte
  src/lib/websocket.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: linting fixes
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: linting warnings
  cli/server/infrastructure/fileStore.ts
  cli/server/websocketServer.test.ts
  cli/server/websocketServer.ts
  src/lib/components/control-sets/ControlSetSelector.svelte
  src/lib/components/controls/ControlDetailsPanel.svelte
  src/lib/components/controls/ControlsList.svelte
  src/lib/components/controls/DynamicControlEditor.svelte
  src/lib/components/controls/MappingCard.svelte
  src/lib/components/controls/MappingForm.svelte
  src/lib/components/controls/renderers/EditableFieldRenderer.svelte
  src/lib/components/controls/renderers/FieldRenderer.svelte
  src/lib/components/controls/tabs/CustomFieldsTab.svelte
  src/lib/components/controls/tabs/ImplementationTab.svelte
  src/lib/components/controls/tabs/MappingsTab.svelte
  src/lib/components/controls/tabs/OverviewTab.svelte
  src/lib/components/controls/tabs/TimelineTab.svelte
  src/lib/components/controls/utils/ProcessedTextRenderer.svelte
  src/lib/components/forms/DynamicControlForm.svelte
  src/lib/components/forms/DynamicField.svelte
  src/lib/components/forms/FormField.svelte
  src/lib/components/setup/ExistingControlSets.svelte
  src/lib/components/setup/SpreadsheetImport.svelte
  src/lib/components/ui/CustomDropdown.svelte
  src/lib/components/ui/FilterBuilder.svelte
  src/lib/components/ui/TabNavigation.svelte
  src/lib/components/version-control/DiffViewer.svelte
  src/lib/components/version-control/YamlDiffViewer.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: ignore useless escape as it breaks
  cli/server/infrastructure/fileStore.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: fix filenames
  cli/server/infrastructure/fileStore.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

fix: mapping field import behavior
  cli/server/spreadsheetRoutes.ts
  src/lib/components/setup/SpreadsheetImport.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Update src/lib/components/setup/SpreadsheetImport.svelte
  src/lib/components/setup/SpreadsheetImport.svelte
Due: none

Update src/lib/components/version-control/YamlDiffViewer.svelte
  src/lib/components/version-control/YamlDiffViewer.svelte
Due: none

Notes added by 'git notes add'
  25d899516a8b8606c9debe43d49fdc00733677eb
Due: none

fix: filter and search on complex values
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

add test coverage
  src/stores/compliance.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

format
  src/stores/compliance.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

replace carriage return as well
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: send entire state to compliance store on start
  cli/server/websocketServer.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

cleanup dead code
  src/stores/compliance.test.ts
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

format
  cli/server/websocketServer.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Notes added by 'git notes add'
  d76e7fd2b33d47f59d1993866016b69bee1c20b8
Due: none

chore: warnings instead of errors
  eslint.config.js
  tsconfig.json
Due: prettier --config .prettierrc --write

fix: id mapping
  cli/server/infrastructure/fileStore.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

fix unit tests
  cli/server/infrastructure/fileStore.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix fallback, trycatch
  cli/server/infrastructure/fileStore.test.ts
  cli/server/infrastructure/fileStore.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

revert test changes
  cli/server/infrastructure/fileStore.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Notes added by 'git notes add'
  d1ccbfc7de4af23f9f0e23002170aec9963809fa
Due: none

chore: eslint ignore for integration
  cli/server/spreadsheetRoutes.ts
  eslint.config.js
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: remove code block
  .lintstagedrc.json
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix
