Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js, shellcheck -f tty, markdownlint-cli --config .markdownlint.json --fix --ignore adr --ignore node_modules

.lintstagedrc.json:

{
	"**/*.{ts,tsx}": [
		"prettier --config .prettierrc --write",
		"eslint --config eslint.config.js --fix"
	],
	"**/*.test.{ts,tsx}": ["eslint --config eslint.config.js"],
	"integration/**/*.ts": ["eslint --config eslint.config.js"],
	"**/*.mjs": ["prettier --config .prettierrc --write"],
	"**/*.js": ["prettier --config .prettierrc --write"],
	"**/*.json": ["prettier --config .prettierrc --write"],
	"**/*.sh": ["shellcheck -f tty"],
	".husky/pre-*": ["shellcheck -f tty"],
	"**/*.md": [
		"markdownlint-cli --config .markdownlint.json --fix --ignore adr --ignore node_modules"
	]
}

chore: improve coverage
  cli/commands/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: test for ui command
  cli/commands/ui.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: test version function
  cli/commands/version.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: `cli/server/server.ts` test
  cli/server/server.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: codeql workflow
  .github/workflows/codeql.yml
Due: none

chore: codeql config
  codeql-config.yaml
Due: none

chore: dep review job
  .github/workflows/dependency-review.yml
Due: none

chore: scorecard flow
  .github/workflows/scorecard.yml
Due: none

fix: serverState test
  cli/server/serverState.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Notes added by 'git notes add'
  ff914a5b35d063057132b99080f40372c49087e1
Due: none

chore: readme fix
  README.md
Due: markdownlint-cli --config .markdownlint.json --fix --ignore adr --ignore node_modules

chore: debug test
  cli/utils/debug.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: codecov
  .github/workflows/on-demand-workflows.yaml
  .github/workflows/tests.yaml
Due: none

chore: codecov
  .github/workflows/on-demand-workflows.yaml
Due: none

chore: add lcov reporter
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: generate coverage in ci
  .github/workflows/on-demand-workflows.yaml
Due: none

chore: use token
  .github/workflows/on-demand-workflows.yaml
Due: none

chore: ignore types in codecov
  codecov.yaml
Due: none

chore: format
  README.md
  cli/server/infrastructure/controlHelpers.test.ts
  cli/server/infrastructure/fileStore.test.ts
  cli/server/infrastructure/gitHistory.test.ts
  cli/server/infrastructure/yamlDiff.test.ts
  package.json
  pnpm-lock.yaml
  src/lib/actions/fadeWhenScrollable.test.ts
  src/lib/actions/tooltip.test.ts
  src/lib/formatUtils.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js, markdownlint-cli --config .markdownlint.json --fix --ignore adr --ignore node_modules

chore: mock stderr for clean test output
  cli/server/infrastructure/controlHelpers.test.ts
  cli/server/infrastructure/fileStore.test.ts
  cli/server/infrastructure/yamlDiff.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: format
  cli/server/infrastructure/controlHelpers.test.ts
  cli/server/infrastructure/fileStore.test.ts
  cli/server/infrastructure/yamlDiff.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: unit test for websocket
  src/lib/websocket.test.ts
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: format
  src/lib/websocket.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: integration test for crawl
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: provide gh token in ci
  .github/workflows/on-demand-workflows.yaml
Due: none

chore: permissions
  .github/workflows/on-demand-workflows.yaml
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: permissions to write
  .github/workflows/tests.yaml
Due: none

chore: timeout
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: debugging ci
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: lula crawl call
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: need a pat or github app for this to work in ci
  .github/workflows/on-demand-workflows.yaml
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: integration files
  .lintstagedrc.json
  integration/test-files/ex.ts
  integration/test-files/ex.yaml
  tsconfig.json
  vite.config.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: ignore test files in coverage
  vitest.config.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: update merge group
  .github/workflows/dependency-review.yml
Due: none

chore: used by integration test - please dont merge
  integration/test-files/ex.ts
  integration/test-files/ex.yaml
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: update test for local integration
  README.md
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js, markdownlint-cli --config .markdownlint.json --fix --ignore adr --ignore node_modules

chore: try with childprocess
  .github/workflows/on-demand-workflows.yaml
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: node execute
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: sync debug
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix
