Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js, shellcheck -f tty

chore: contributing and code of conduct
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

chore: copilot feedback
  CONTRIBUTING.md
Due: none

chore: codeowners
  CODEOWNERS
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: add pepr back
  CODEOWNERS
Due: none

chore: format
  CODEOWNERS
Due: none

fix: pr review for deleted files
  CRAWL_ENHANCEMENT.md
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: pr review for deleted files
  CRAWL_ENHANCEMENT.md
Due: none

Notes added by 'git notes add'
  c2d7b2970f1a4ba2723275d6a58332f2355a810b
Due: none

chore: pr comments
  src/lib/components/controls/ControlsList.svelte
  src/lib/components/ui/FilterBuilder.svelte
  src/lib/types.ts
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: catch error dimissing a dismissed review
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: do not dismiss if dismissed
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

fix: account for deleted annotations
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Update cli/commands/crawl.ts
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: fix some references to pepr
  .github/pull_request_template.md
  scripts/nightlies.sh
Due: shellcheck -f tty

Update src/stores/compliance.ts
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Update src/lib/components/ui/FilterBuilder.svelte
  src/lib/components/ui/FilterBuilder.svelte
Due: none

chore: pr comments
  src/lib/components/ui/FilterBuilder.svelte
  src/stores/compliance.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Notes added by 'git notes add'
  c6e792674fcb53c17fb32b361402bc0dbf7eb516
Due: none

Notes added by 'git notes add'
  58e8b81d96de4228856551ef7fb016be91160061
Due: none

chore: resolve conflicts in package.json and pnpm-lock
  cli/server/spreadsheetRoutes.ts
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: updates
  cli/server/spreadsheetRoutes.ts
  package.json
  src/lib/components/ui/FilterBuilder.svelte
  src/stores/compliance.test.ts
  src/stores/compliance.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: fix test
  cli/server/spreadsheetRoutes.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: backticks around lula.yaml to force merge
  README.md
Due: none

Notes added by 'git notes add'
  063d9a888b15e8b81f52261a888ac64aed4a8d74
Due: none

chore: crawl complexity
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: read headers when a new sheet is selected
  cli/server/spreadsheetRoutes.ts
  src/lib/components/setup/SpreadsheetImport.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

fix: format
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

fix: named constants for preview_columns and max_headers
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

fix: try/catch on the import-spreadsheet
  src/lib/components/setup/SpreadsheetImport.svelte
Due: none

chore: fix loading after new sheet
  cli/server/spreadsheetRoutes.ts
  src/lib/components/setup/SpreadsheetImport.svelte
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: throw the error if there is one
  src/lib/components/setup/SpreadsheetImport.svelte
Due: none

chore: format
  src/lib/components/setup/SpreadsheetImport.svelte
Due: none

Notes added by 'git notes add'
  96180ed8efb28f69156708a23229602bda51a455
Due: none

chore: include lula workflow in readme
  README.md
Due: none

chore: update instructions
  README.md
Due: none

Update README.md
  README.md
Due: none

Apply suggestion from @cmwylie19
  README.md
Due: none

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.config.js --fix: any of: *.ts
  eslint --config eslint.config.js: (any of: *.test.ts) or (any of: integration/**/*.ts)
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
