Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js, shellcheck -f tty

fix: update release to node 24.x, npm 11 (#366)
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  0febbf5c26e191ad0ec5bb4086633b72a34395a6
Due: none

fix: update cci definitions for separation
  src/lib/components/controls/ControlDetailsPanel.svelte
Due: none

fix: split by index of cci and clean up formatting
  src/lib/components/controls/ControlDetailsPanel.svelte
  src/lib/components/controls/renderers/FieldRenderer.svelte
Due: none

fix: update cci definitions for separation (#370)
  src/lib/components/controls/ControlDetailsPanel.svelte
  src/lib/components/controls/renderers/FieldRenderer.svelte
Due: none

Notes added by 'git notes add'
  bdb3e4cbdd61858b1a2748317169e4c36983ab44
Due: none

fix(ui): prevent scroll jump when toggling CCI checkboxes in mapping form
  src/lib/components/controls/MappingForm.svelte
  src/lib/components/forms/FormField.svelte
Due: none

fix(ui): prevent scroll jump when toggling CCI checkboxes in mapping (#374)
  src/lib/components/controls/MappingForm.svelte
  src/lib/components/forms/FormField.svelte
Due: none

Notes added by 'git notes add'
  01626d35717265c2ab94d9ce55595d8654b19ad8
Due: none

fix(ui): prevent scroll jump for schema-driven multiselect checkboxes
  src/lib/components/controls/renderers/EditableFieldRenderer.svelte
Due: none

fix(ui): prevent scroll jump for schema-driven multiselect checkboxes (#375)
  src/lib/components/controls/renderers/EditableFieldRenderer.svelte
Due: none

Notes added by 'git notes add'
  4957adbaec66b082340d846689dc168bd9f606f7
Due: none

feat: prefix justification string with cci
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Update cli/server/spreadsheetRoutes.ts
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

fix: apply suggestions from copilot
  cli/server/spreadsheetRoutes.test.ts
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: same format as test results
  cli/server/spreadsheetRoutes.test.ts
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

feat: prefix justification string with cci (#376)
  cli/server/spreadsheetRoutes.test.ts
  cli/server/spreadsheetRoutes.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Notes added by 'git notes add'
  8db1729caac0f39a6ca799bc9c2fadd86993c481
Due: none

Notes added by 'git notes add'
  d8b30fca9667dcd1cbecb38957dbf7e834d36a0d
Due: none

chore: integration test setup
  integration/test-files/zarf.yaml
Due: none

chore: change codeowners
  CODEOWNERS
Due: none

chore: integration test setup (#393)
  integration/test-files/zarf.yaml
Due: none

chore: change codeowners (#394)
  CODEOWNERS
Due: none

fix: account for multiple uuid handling
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: resolve conflicts locally
  pnpm-lock.yaml
Due: none

chore: comments
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: update integration test
  integration/test-files/zarf.yaml
Due: none

chore: integration test
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: copilot comments
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
  integration/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: format
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: more test coverage
  cli/commands/crawl.test.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

fix: duplicate uuid handling in crawl command (#396)
  cli/commands/crawl.test.ts
  cli/commands/crawl.ts
  integration/crawl.test.ts
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

Notes added by 'git notes add'
  329f9711b9c5547725316b33b700911375645adb
Due: none

chore: remove docker setup
  .github/workflows/nightlies.yml
Due: none

chore: update e2e test names
  integration/crawl.test.ts
  integration/test-files/add.ts
  integration/test-files/multiple-same-uuids.yaml
  integration/test-files/remove-and-add.yaml
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: e2e test file rename
  cli/commands/crawl.test.ts
  integration/test-files/add.ts
  integration/test-files/multiple-same-uuids.yaml
  integration/test-files/remove-and-add.yaml
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: update e2e test names (#409)
  integration/crawl.test.ts
  integration/test-files/add.ts
  integration/test-files/multiple-same-uuids.yaml
  integration/test-files/remove-and-add.yaml
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js

chore: remove docker setup (#408)
  .github/workflows/nightlies.yml
Due: none

fix: minimum node version in contributing
  CONTRIBUTING.md
Due: none

Notes added by 'git notes add'
  baf60bb31a585d9241947315cc154cc5dda8fbad
Due: none

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.config.js --fix: any of: *.ts
  eslint --config eslint.config.js: (any of: *.test.ts) or (any of: integration/**/*.ts)
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
