Repository defenseunicorns/lula: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix, eslint --config eslint.config.js, shellcheck -f tty

chore: use eslint 9
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write

chore: change version of eslint for tests
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write

chore: change version of eslint for tests
  package.json
Due: prettier --config .prettierrc --write

chore: eslint version
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write

chore: eslint version
  package.json
Due: prettier --config .prettierrc --write

chore: updates to deps
  pnpm-lock.yaml
Due: none

chore: eslint overrides
  .github/dependabot.yml
Due: none

chore: playwrite test for routes page
  package.json
  tests/demo-todo-app.spec.ts
  tests/example.spec.ts
  tests/routes-page.svelte.spec.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: fix test
  tests/routes-page.svelte.spec.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: playwright test for routes page
  .github/workflows/playwright.yml
  tests/demo-todo-app.spec.ts
  tests/example.spec.ts
  tests/routes-setup-page.svelte.spec.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

chore: format tests
  tests/routes-setup-page.svelte.spec.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Notes added by 'git notes add'
  b52bc211006f89f874d498e6467015cc9aaf530a
Due: none

chore: added 7 day cooldown to dependabot
  .github/dependabot.yml
Due: none

chore: added 7 day cooldown to dependabot (#444)
  .github/dependabot.yml
Due: none

Update tests/routes-setup-page.svelte.spec.ts
  tests/routes-setup-page.svelte.spec.ts
Due: prettier --config .prettierrc --write, eslint --config eslint.config.js --fix

Notes added by 'git notes add'
  aeeb63289879598d63295def7bca2f234e67492a
Due: none

chore: refactor to AGENTS.md
  AGENTS.md
Due: none

chore: refactor to AGENTS.md (#485)
  AGENTS.md
Due: none

Path conditions:
  prettier --config .prettierrc --write: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.json)
  eslint --config eslint.config.js --fix: any of: *.ts
  eslint --config eslint.config.js: (any of: *.test.ts) or (any of: integration/**/*.ts)
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
